<template lang="pug">
  v-app#g2g.app(:dark="dark")

    v-slide-y-transition(mode="out-in")
      v-app-bar.app-toolbar(app flat dark :clipped-left="true" color="indigo")
        v-app-bar-nav-icon(@click.stop="drawer = !drawer")
        v-toolbar-title(v-html="title")

    v-content
      router-view

    snackbar
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { State, Getter, Mutation, Action } from 'vuex-class'
import Snackbar from '@/components/snackbar.vue'
import { AuthState } from '@/code/authState'
import { AxiosResponse } from 'axios'
import store from '@/store'
import { ValidationError, ServerError, UnauthorizedRequestError } from '@/code/errors'
import { BaseView } from '@/code/baseView'
import { Lookup, LookupAPI } from '@/api/models/lookup'
import { Tools } from '@/code/misc'

interface RouteState {
  name: string
  path: string
  hash: string
  query: string
  params: object
  fullPath: string
  meta: object
}

interface AppMenuItem {
  icon: string
  title: string
  href?: AppMenuItemTarget
  subMenu?: AppMenuItem[]
  isOpen?: boolean
}

interface AppMenuItemTarget {
  name: string
  dlg?: string
  params?: any
}

@Component({
  components: { Snackbar },
})
export default class App extends BaseView {
  @State route?: RouteState
  @Mutation showSnackbar: any

  dark = false
  drawer = false

  initializing: boolean = true
  menuFilter: string = ''

  get title() {
    let result = 'MaxAuto 777 Auction Offers'
    if ( this.route && this.route.meta ) {
      // @ts-ignore
      result = this.route.meta!.title

      if (this.route.name === 'order') {
        // @ts-ignore
        return `Order #${this.route.params!.id}`
      }

      if (this.route.name === 'report-generated') {
        // @ts-ignore
        return `Report - ${this.route.params!.title}`
      }

      // @ts-ignore
      if ( this.route.params && this.route.params.mode ) {
        // @ts-ignore
        result = 'Orders - ' + this.route.params.mode
      }
    }
    return result
  }

  get items() {
    const allMenuItems: AppMenuItem[] = []
    allMenuItems.push({
      icon: 'fa-phone-office',
      title: 'About Us',
      href: { name: 'about' }
    })

    if (Tools.isEmptyString(this.menuFilter)) {
      return allMenuItems
    }

    const result = []
    let isFirstOpen = true
    const searchFor = this.menuFilter.toLowerCase()
    for (const itm of allMenuItems) {
      if (itm.title.toLowerCase().includes( searchFor )) {
        if (itm.subMenu) {
          itm.isOpen = isFirstOpen
          isFirstOpen = false
        }
        result.push( itm )
      } else if (itm.subMenu) {
        itm.subMenu = itm.subMenu.filter( x => x.title.toLowerCase().includes( this.menuFilter.toLowerCase() ) )
        if ( itm.subMenu.length > 0 ) {
          itm.isOpen = isFirstOpen
          result.push( itm )
          isFirstOpen = false
        }
      }
    }

    return result
  }

  async created() {
    // TODO
  }

  async mounted() {
    // TODO
  }

  beforeDestroy() {
    // TODO
  }

  async menuItemSelected(item: any) {
    this.drawer = false
  }

  @Watch('drawer')
  onMenuOpen() {
    if (!this.drawer) {
      this.menuFilter = ''
      return
    }
    // @ts-ignore
    this.$refs.txtMenuFilter.focus()
  }

}
</script>

<style lang="stylus" scoped>

</style>
