<template lang="pug">
    v-text-field(
      suffix="$"
      v-model="displayValue"
      :error-messages="errorMessages"
      :prepend-icon="prependIcon"
      :label="label"
      :placeholder="placeholder"
      @focus="isInputActive = true; $emit('focus')"
      @blur="isInputActive = false; $emit('blur', $event)"
      @keyup="$emit('keyup')"
      @click="$emit('click')"
      @click:prepend="$emit('click:prepend')"
      @input="$emit('input', $event)"
      reverse
      dense
      :readonly="readonly === 'true'"
      :disabled="readonly === 'true'"
      :class="{ 'grayed-out': readonly === 'true' }"
    )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class Currency extends Vue {
  @Prop(Number) value?: number
  @Prop(String) errorMessages?: string
  @Prop(String) prependIcon?: string
  @Prop(Boolean) allowEmpty?: boolean
  @Prop(String) label?: string
  @Prop(String) placeholder?: string
  @Prop(String) readonly?: string

  handlerTimeout: any = null
  isInputActive: boolean = false

  get displayValue(): string {
    if (isNaN(this.value!)) {
      return ''
    }
    if (this.isInputActive) {
        return this.value!.toString()
    } else {
        return this.value!.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1,')
    }
  }

  set displayValue(modifiedValue: string) {
    let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ''))
    if (isNaN(newValue) && !this.allowEmpty) {
      newValue = 0;
    }
    const self = this
    if ( self.handlerTimeout !== null ) {
      clearTimeout( self.handlerTimeout )
    }
    self.handlerTimeout = setTimeout( () => {
      self.$emit('input', newValue)
    }, 250)
  }

}
</script>