<template lang="pug">
    v-menu(
        ref="menu"
        v-model="menu"
        :close-on-content-click="false" 
        :return-value.sync="displayValue" 
        :v-value="false"
        :nudge-right="40" 
        transition="scale-transition" 
        offset-y 
        full-width 
        min-width="290px"
    )
        v-text-field(
            slot="activator" 
            :value="displayValue" 
            :label="label" 
            append-icon="event" 
            readonly
        )
        v-date-picker(
            v-model="displayValue"            
            @input="$refs.menu.save(new Date($event))"
        )
</template>


<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { ValidationEngine } from '@/code/validation'
import { BaseView } from '@/code/baseView'

@Component
export default class DateField extends BaseView {
  @Prop(String) value?: string
  @Prop(String) label?: string

  menu: boolean = false

  handlerTimeout: any = null

  get displayValue(): string {
    // console.log('value: ')
    // console.log(this.value)
    if (this.isEmptyTime(this.value)) {
        return ''
    }
    return this.formatDatePicker(this.value)
  }

  set displayValue(modifiedValue: string) {
    // console.log(modifiedValue)

    // let newValue = new Date(modifiedValue)
    // if (this.isEmptyTime(modifiedValue)) {
    //    newValue =  new Date(1,1,1)
    // }
    this.$emit('input', modifiedValue)

    // const self = this
    // if ( self.handlerTimeout !== null ) {
    //   clearTimeout( self.handlerTimeout )
    // }
    // self.handlerTimeout = setTimeout( () => {
    //   self.$emit('input', modifiedValue)
    // } , 250)
  }
}
</script>