<template lang="pug">
    v-text-field(
      v-model="displayValue"
      :label="label"
      :disabled="disabled"
      :error-messages="errorMessages"
      :rules="combineRules(rules)"
      mask="time"
      return-masked-value
      @focus="isInputActive = true; $emit('focus')"
      @blur="isInputActive = false; displayValue = displayValue; $emit('blur')"
      @keyup="$emit('keyup')"
      @click="$emit('click')"
    )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { ValidationEngine } from '@/code/validation'

@Component
export default class TimeField extends Vue {
  @Prop(String) value?: string
  @Prop(String) label?: string
  @Prop(String) errorMessages?: string
  @Prop(Array) rules?: Array<(v: string) => boolean | string>
  @Prop(Boolean) disabled?: boolean
  @Prop(Boolean) allowEmpty?: boolean

  handlerTimeout: any = null
  isInputActive: boolean = false

  validation = new ValidationEngine( '' )

  combineRules(rules: Array<(v: string) => boolean | string>) {
    if (this.disabled) {
      return []
    }
    const rRules = this.allowEmpty ? this.validation.timeRulesNotRequired : this.validation.timeRules
    return rRules.concat(rules)
  }

  get displayValue(): string {
    if (this.isInputActive) {
        return this.value!.toString()
    } else {
        return this.parseTime(this.value!)
    }
  }

  set displayValue(modifiedValue: string) {
    let newValue = modifiedValue
    if (modifiedValue && modifiedValue.length === 1
      && !(modifiedValue === '0' || modifiedValue === '1' || modifiedValue === '2')) {
      newValue = '0' + modifiedValue
    }
    const self = this
    if ( self.handlerTimeout !== null ) {
      clearTimeout( self.handlerTimeout )
    }
    self.handlerTimeout = setTimeout( () => {
      self.$emit('input', newValue)
    }, 150)
  }

  parseTime(value: string) {
    if (!value) {
      return ''
    }

    const parts = value.split(':')
    parts.push('00')
    parts.push('00')
    parts[0] = ('0' + parts[0]).slice(-2)
    parts[1] = ('00' + parts[1]).slice(-2)

    return [parts[0], parts[1]].join(':')
  }

}
</script>