<template lang="pug">
  div(v-if="prevValue == 'always' || !isEmptyTime( prevValue )")
    v-btn(
      v-if="!isEmptyTime( value )"
      small text
      @click="showOrderTimeDialog()"
    ) {{ formatTime( value ) }}
      v-icon.remove-time(small) fa-times
    v-btn.small(
      v-else small
      :disabled="isdisabled"
      :color="color" dark
      @click="setOrderTime()"
    ) {{ text }}
      v-icon(small) far fa-clock
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { ValidationEngine } from '@/code/validation'
import { BaseView } from '@/code/baseView'

@Component
export default class TimeButton extends BaseView {
  @Prop() value?: Date | string
  @Prop() prevValue?: Date | string
  @Prop(String) color?: string
  @Prop(String) text?: string
  @Prop(Boolean) isdisabled?: boolean

  setOrderTime() {
    this.$emit('setTime')
  }

  showOrderTimeDialog() {
    this.$emit('showDialog')
  }
}
</script>