<template lang="pug">
  v-container#auctions(fluid)
    //- global-events(@keyup.escape="isDialogVisible=false")
    v-slide-y-transition(mode="out-in")
          v-flex(xs12)
            v-toolbar#filter(flat)
              v-flex.pr-4(xs5)
                v-text-field(v-model="searchText" placeholder="Search" hide-details)
              v-flex(xs3)
                v-select(
                  v-model="auctionType"
                  :items="allAuctionTypes"
                  label = "Search by AuctionType",
                  item-text="Name"
                  item-value="ID"
                  hide-details
                )
              v-flex.ml-4.pt-0
                v-btn(color="primary" fab @click="loadData" small)
                  v-icon refresh

              v-flex#containers.ml-4.pt-0.mr-1.justify-end.align-self-start
                v-menu(offset-y)
                  template(v-slot:activator="{on}")
                    v-toolbar.pt-0(color="transparent" flat height="30px" tile v-on="on")
                      v-spacer
                      v-icon.mr-3(size="15" color="success") fa-ship
                      v-toolbar-title {{ Containers.length }} container{{ Containers.length == 1 ? '' : 's' }}
                      v-btn(icon)
                        v-icon(size="15") fa-chevron-down
                  v-list.pt-5#container-menu
                    v-list-item(v-for="(item, idx) in Containers")
                      v-list-item-title
                        h2.pb-3 {{ item.DeparturePortName }} - {{ item.DestinationPortName }}
                        small.pl-3.pb-4
                          v-icon(color="error") fa-truck
                          span.pl-2 ${{ formatMoney( item.USTransportCost ) }}

                          v-icon.pl-4(color="error") fa-cube
                          span.pl-2 ${{ formatMoney( item.OceanFreightCost ) }}

                          v-icon.pl-4(color="primary") fa-truck
                          span.pl-2 ${{ formatMoney( item.EUTransportCost ) }}
                        div.mt-3
                          template(v-for="car in item.Cars" @click="scrollTo( car.ID )")
                            v-list-item
                              v-list-item-icon.mr-2.ml-0
                                v-icon(size="15" v-if="car.AmountPaid > 0") fa-ship
                                v-icon(size="15" v-else-if="car.IsSelected") fa-shopping-cart
                                v-icon(size="15" v-else) fa-eye
                              v-list-item-content
                                v-list-item-title {{ car.Title }}: {{ car.Make }}, {{ car.Model }}
                          v-divider.mb-5.mt-2(v-if="idx < Containers.length-1")

            v-data-table(
              :headers="headers"
              :items="filterAuctions"
              :loading="loading"
              loading-text="Loading auctions..."
              fixed-header
              hide-default-footer
              disable-pagination
              disable-sort
              dense
              height="calc(100vh - 10em)"
            )
              template(slot="item" slot-scope="props")
                tr
                  td.pt-2
                    .nowrap(:id="'itm'+props.item.ID")
                      a(:href="props.item.ItemLink" target="_blank") {{ props.item.ItemID }}
                      span.pl-2 {{ props.item.SellingBranch }}
                    .small.bold {{ props.item.Make }}-{{ props.item.Model }} {{ props.item.Year }} ({{ props.item.CountryOfOrigin }})
                    .small.nowrap
                      label VIN
                      b.pl-2 {{ props.item.VIN }}
                    .odo
                      label ODO
                      b.pl-2 {{ props.item.Odometer }} miles
                    .nowrap.small Start Code
                      b.pl-2 {{ props.item.StartCode }}
                    .nowrap.small Key Present
                      b.pl-2 {{ props.item.IsKeyPresent ? "yes" : "no" }}
                    .nowrap.small Airbag Depl
                      b.pl-2 {{ props.item.IsAirbagDeployed ? "yes" : "no" }}

                  td.pt-2.mw12em
                    .nowrap.small {{ props.item.Transmission }}
                    .nowrap.small {{ props.item.DriveLineType }}
                    .nowrap.small.bold {{ props.item.Engine }}
                    .nowrap.small
                      v-select(
                          v-model="props.item.VehicleTypeID"
                          :items="allVehicleTypes"
                          label = "Vehicle Type",
                          item-text="Type"
                          item-value="ID"
                        )
                    .nowrap.small Damages:
                      span.pl-2 {{ props.item.Loss }}
                    .nowrap.small Primary:
                      span.pl-2 {{ props.item.PrimaryDamage }}
                    .nowrap.small Secondary:
                      span.pl-2 {{ props.item.SecondaryDamage }}

                  td.pt-2
                    .mw15em.small.bold.ma-0 {{ props.item.Title }}
                    .mw15em.small.ma-0
                      small {{ props.item.Seller }}
                    .nowrap.small Auction Date
                      b.pl-2 {{ formatDate( props.item.AuctionLiveDate, "dd.MM.yyyy HH:mm" ) }}
                    .nowrap.small {{ props.item.AuctionStatus }}
                    .nowrap.small Current Bid <b>{{ formatMoney( props.item.CurrentBidAmount, '$' ) }}</b>
                    .nowrap.small Buy It Amt: <b>{{ formatMoney( props.item.BuyItAmount, '$' ) }}</b>

                  td.pt-2.mw25em
                    .nowrap.small
                      v-select.mt-0(
                          @input="setSelectedTransport( $event, props.item )"
                          v-model="props.item.SelectedTransport"
                          :items="getTransportProposals( props.item )"
                          label = "Selected Transport",
                          item-text="Description"
                          item-value="Ports"
                        )
                    .nowrap.small.left-align.pr-2(v-if="props.item.DeparturePortID > 0")
                      label US Ground Transport
                      span.pull-right {{ formatMoney( selectedTransport( props.item ).CostToDeparturePort, '$' ) }}
                    .nowrap.small.left-align.pr-2(v-if="props.item.DeparturePortID > 0")
                      label Ocean Freight Per Auto
                      span.pull-right {{ formatMoney( selectedTransport( props.item ).OceanFreight, '$' ) }}
                    .nowrap.small.left-align.pr-2(v-if="props.item.DeparturePortID > 0")
                      label EU Ground Transport
                      span.pull-right {{ formatMoney( selectedTransport( props.item ).CostToFinalDestination, '$' ) }}
                    .nowrap.small.left-align.pr-2(v-if="props.item.DeparturePortID == 0") No Shipping Info Available

                  td.pt-2.mw20em.pl-5
                    v-row.ml-2
                      v-col.pa-0(cols="6")
                        label.text-label My Max Bid
                      v-col.pa-0.pl-3(cols="6")
                        currency(
                          v-model.number="props.item.BidAmount"
                          @input="onBidAmountUpdate( $event, props.item, true )"
                          @blur="onBidAmountUpdate( $event, props.item, false )"
                        )
                    v-row.ml-2
                      v-col.pa-0(cols="6")
                        label.text-label Purchase Amt
                      v-col.pa-0.pl-3(cols="6")
                        currency(
                          v-model.number="props.item.AmountPaid"
                          @input="onAmountPaidUpdate( $event, props.item, true )"
                          @blur="onAmountPaidUpdate( $event, props.item, false )"
                        )
                    v-row.ml-2
                      v-col.pa-0(cols="6")
                        label.text-label Repair
                      v-col.pa-0.pl-3(cols="6")
                        currency(
                          v-model.number="props.item.EstimatedRepairCost"
                          @input="onEstimatedRepairCostUpdate( $event, props.item, true )"
                          @blur="onEstimatedRepairCostUpdate( $event, props.item, false )"
                        )
                    v-row.ml-2
                      v-col.pa-0(cols="6")
                        label.text-label Paper Work
                      v-col.pa-0.pl-3(cols="6")
                        currency(
                          readonly="true"
                          v-model.number="props.item.EstimatedPaperworkCost"
                        )
                    v-row.ml-2
                      v-col.pa-0(cols="6")
                        label.text-label VAT & Customs
                      v-col.pa-0.pl-3(cols="6")
                        currency(
                          readonly="true"
                          v-model.number="props.item.DutyVAT"
                        )

                  td.pt-2.mw18em.pl-5
                    v-row.ml-2
                      v-col.pa-0(cols="4")
                        label.text-label Sale Price
                      v-col.pa-0.pl-3(cols="8")
                        currency(
                          v-model.number="props.item.EstimatedSaleAmount"
                          @input="onEstimatedSaleAmountUpdate( $event, props.item, true )"
                          @blur="onEstimatedSaleAmountUpdate( $event, props.item, false )"
                        )
                    v-row.ml-2
                      v-col.pa-0(cols="4")
                        label.text-label Cost Total
                      v-col.pa-0.pl-3.cost(cols="8")
                        currency(
                          v-model.number="props.item.EstimatedGrandTotal"
                          readonly="true"
                        )
                    v-row.ml-2
                      v-col.pa-0(cols="4")
                        label.text-label Profit
                      v-col.pa-0.pl-3.profit(cols="8")
                        currency(
                          v-model.number="props.item.EstimatedProfit"
                          readonly="true"
                        )

                    v-row.ml-2
                      v-col.pa-0.pt-2(cols="4")
                        v-icon(v-if="props.item.AmountPaid > 0") fa-ship
                        v-icon(v-else-if="props.item.IsSelected") fa-shopping-cart
                        v-icon(v-else) fa-eye
                      v-col.pa-0.pl-3(cols="8" v-if="!props.item.AmountPaid")
                        v-btn(v-if="props.item.IsSelected" block color="error" @click="onUpdateSelected(props.item, false)") <v-icon class="pr-3" size="16">fa-minus-circle</v-icon> Remove
                        v-btn(v-else-if="props.item.DeparturePortID > 0 && props.item.BidAmount > 0 && props.item.EstimatedSaleAmount > 0" block color="success" @click="onUpdateSelected(props.item, true)") <v-icon class="pr-2">fa-plus-circle</v-icon> Add
                        v-tooltip(top v-else)
                          template(v-slot:activator="{ on }")
                            span(v-on="on")
                              v-btn(disabled block) <v-icon class="pr-2">fa-plus-circle</v-icon> Add
                          span Select transport and enter bid amount and estimated sale price
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { State, Getter, Mutation, Action } from 'vuex-class'
import { Tools } from '@/code/misc'
import { BaseView } from '@/code/baseView'
import { ValidationEngine } from '@/code/validation'
import { ValidationError, ServerError, UnauthorizedRequestError } from '@/code/errors'
import { AuctionsAPI, AuctionData, AuctionOffer, ContainerInfoViewModel, Port, VehicleType, TransportProposal, LookupData } from '@/api/models/auctions'
import { Lookup } from '@/api/models/lookup'
import Currency from '@/components/currency.vue'

export interface ProposalLookup {
  Ports: string
  Description: string
}

@Component({
  components: { Currency },
  extends: BaseView
})
export default class AuctionOffersView extends BaseView {

  headers = [
    { value: 'id', text: 'Item Info' },
    { value: 'id', text: 'Transmission, Drive, Engine, Damages' },
    { value: 'id', text: 'Title, Seller' },
    { value: 'id', text: 'Estimated Transport Per Auto' },
    { value: 'id', text: 'Estimated Cost' },
    { value: 'id', text: 'Projections' },
  ]

  loading: boolean = true
  isDialogVisible = false

  searchText: string = ''
  auctionType: number = 0

  api: AuctionsAPI = new AuctionsAPI(this.$store)

  Auctions: AuctionOffer[] = []
  Containers: ContainerInfoViewModel[] = []
  allPorts: Port[] = []
  allVehicleTypes: VehicleType[] = []

  allAuctionTypes: Lookup[] = [
    { ID: 0, Name: 'All Auction Types' },
    { ID: 1, Name: 'Selected Auctions Only' },
    { ID: 2, Name: 'Purchased Auctions Only' },
  ]

  delayedUpdateTimer: any = null

  mounted() {
    this.loadData()
  }

  get filterAuctions(): AuctionOffer[] {
    if ( this.Auctions == null ) {
      return []
    }
    const result = Tools.clone(
      this.Auctions!.filter( x =>
        (
          (this.auctionType === 0)
            ||
          (this.auctionType === 1 && x.IsSelected)
            ||
          (this.auctionType === 2 && x.DateAcquired)
        )
          &&
        (
          (
            Tools.isEmptyString(this.searchText) ||
            x.Make.toLowerCase().indexOf(this.searchText.toLowerCase()) > -1 ||
            x.Model.toLowerCase().indexOf(this.searchText.toLowerCase()) > -1 ||
            x.ItemID.toString().indexOf(this.searchText.toLowerCase()) > -1
          )
        )
      )
    )

    return result
  }

  async loadData() {
    this.loading = true
    try {
      const lookups = await this.api.loadLookups()
      this.allPorts = lookups.ports
      this.allVehicleTypes = lookups.vehicleTypes
      this.updatePageData( await this.api.loadAuctions() )
    } catch (e) {
      if (e instanceof ServerError) {
        this.showSnackbar({ message: `Server Error: ${e.message}`, color: 'error', timeout: 10000 })
      }
    }
    this.loading = false
  }

  updatePageData(auctions: AuctionData) {
    for (const rec of auctions.activeOffers) {
      rec.SelectedTransport = rec.DeparturePortID + '-' + rec.DestinationPortID
    }

    for (const rec of auctions.containerInfo) {
      rec.USTransportCost = rec.Cars.reduce((sum, item) => sum + item.USTransportCost, 0 )
      rec.EUTransportCost = rec.Cars.reduce((sum, item) => sum + item.EUTransportCost, 0 )
      rec.OceanFreightCost = rec.Cars.reduce((sum, item) => sum + item.OceanFreightCost, 0 )

      rec.DeparturePortName = this.allPorts.find( x => x.ID === rec.DeparturePortID )!.Name
      rec.DestinationPortName = this.allPorts.find( x => x.ID === rec.DestinationPortID )!.Name
    }

    this.Auctions = auctions.activeOffers
    this.Containers = auctions.containerInfo
  }

  selectedTransport( itm: AuctionOffer ): TransportProposal {
    let result: TransportProposal | undefined
    if (itm.DeparturePortID) {
      result = itm.TransportProposals.find( x => x.DeparturePortID === itm.DeparturePortID && x.DestinationPortID === itm.DestinationPortID )
    }
    if (result) {
      return result
    } else {
      return {
        DeparturePortID: 0,
        DestinationPortID: 0,
        CostToDeparturePort: 0,
        OceanFreight: 0,
        CostToFinalDestination: 0
      }
    }
  }

  getTransportProposals( itm: AuctionOffer ): ProposalLookup[] {
    let result: ProposalLookup[] = []
    try {
      if (itm.TransportProposals.length > 0 ) {
        result = itm.TransportProposals.filter( x => x.DeparturePortID > 0 ).map( x => ( {
          Ports: x.DeparturePortID + '-' + x.DestinationPortID,
          Description: this.allPorts.find( p => p.ID === x.DeparturePortID )!.Name + '-' + this.allPorts.find( p => p.ID === x.DestinationPortID )!.Name + ' - ' +
                      this.formatMoney( x.CostToDeparturePort + x.OceanFreight + x.CostToFinalDestination, '$' )
        } as ProposalLookup ) )
      }
    } catch (e) {
      // console.error(e, itm.TransportProposals);
    }
    result.unshift({ Ports: '0-0', Description: 'N/A' })
    return result
  }

  async onUpdateSelected( itm: AuctionOffer, selected: boolean ) {
    this.updatePageData( await this.api.updateSelected( itm.ID, selected ) )
  }

  async setSelectedTransport( value: string, itm: AuctionOffer ) {
    const IDs = value.split('-').map( x => Number.parseInt( x, 10 ) )
    itm.DeparturePortID = IDs[0]
    itm.DestinationPortID = IDs[1]

    this.updatePageData( await this.api.updateTransport( itm ) )
  }

  async onEstimatedSaleAmountUpdate( value: string, itm: AuctionOffer, delayThisUpdate: boolean ) {
    if (this.delayedUpdateTimer) {
      clearTimeout(this.delayedUpdateTimer)
    }
    this.delayedUpdateTimer = setTimeout( async () => this.updatePageData( await this.api.updateEstimatedSaleAmount( itm ) ), delayThisUpdate ? 1500 : 0 )
  }

  async onBidAmountUpdate( value: string, itm: AuctionOffer, delayThisUpdate: boolean ) {
    if (this.delayedUpdateTimer) {
      clearTimeout(this.delayedUpdateTimer)
    }
    this.delayedUpdateTimer = setTimeout( async () => this.updatePageData( await this.api.updateBidAmount( itm ) ), delayThisUpdate ? 1500 : 0 )
  }

  async onAmountPaidUpdate( value: string, itm: AuctionOffer, delayThisUpdate: boolean ) {
    if (this.delayedUpdateTimer) {
      clearTimeout(this.delayedUpdateTimer)
    }
    this.delayedUpdateTimer = setTimeout( async () => this.updatePageData( await this.api.updateAmountPaid( itm ) ), delayThisUpdate ? 1500 : 0 )
  }

  async onEstimatedRepairCostUpdate( value: string, itm: AuctionOffer, delayThisUpdate: boolean ) {
    if (this.delayedUpdateTimer) {
      clearTimeout(this.delayedUpdateTimer)
    }
    this.delayedUpdateTimer = setTimeout( async () => this.updatePageData( await this.api.updateEstimatedRepairCost( itm ) ), delayThisUpdate ? 1500 : 0 )
  }

  scrollTo( AuctionID: number) {
    this.$vuetify.goTo('#itm' + AuctionID, {
          duration: 500,
          offset: 0,
          easing: 'easeInOutCubic',
        })
  }

}
</script>

<style lang="stylus">
  #auctions {
    #filter .v-toolbar__content {
      padding-left: 0;
      padding-right: 0.3em;
      padding-top: 15px;
    }

    #containers {
      .v-toolbar__title, .v-icon {
        cursor: pointer;
      }
    }

    table tbody tr:hover {
      background: initial;
    }

    table tr:not(.v-data-table__progress) th {
      font-size: 100%;
      font-weight: normal;
      background-color: #607D8B;
      color: white;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      padding-left: 0.4em;
    }

    table tr.v-data-table__progress th {
      padding-bottom: 1em;
      padding-left: 0.4em;
    }

    table tbody tr:first-child td {
      padding-top: 1em;
      padding-left: 0.4em;
    }

    table tr td {
      padding-left: 0.4em;
    }

    table colgroup+tr td {
      padding-right: 0;
    }


    table tbody tr td {
      vertical-align: top
    }

    table div label {
        text-align: left;
        margin-bottom: 0;
        display: inline-block;
    }

        table div label + b {
            margin-left: 1em;
        }

        table div label + input {
            margin-left: 1em;
        }


    table div b {
        font-weight: bold;
        font-style: normal;
    }

    table div em {
        color: red;
    }

    .hidden {
        display: none;
    }

    .nowrap {
        white-space: nowrap;
    }

    .bold {
        font-weight: bold;
    }

    .small {
        font-size: 14px;
    }

    .odo {
        font-size: 12px;
    }

    .text-label {
      padding-top: 0.5em
    }

    .inline-block {
      display: inline-block
    }

    .w6em {
      width: 6em;
    }

    .mw12em {
      max-width: 12em;
    }

    .mw15em {
      max-width: 15em;
    }

    .mw18em {
      max-width: 18em;
    }

    .mw20em {
      max-width: 20em;
    }

    .mw25em {
      max-width: 25em;
    }

    .mw30em {
      max-width: 30em;
    }

    .pull-right {
      float: right;
    }

    .v-btn {
      text-transform: none;
    }

    .selected-item {
      background-color: rgba(255, 224, 178, 0.4);
    }
    .purchased-item {
        background-color: rgba(192, 240, 208, 0.40);
    }

    .grayed-out .v-text-field__slot {
      margin-top: -6px;
      margin-bottom: -6px;
      background-color: #DFE8EC;
      color: #70848E;
      padding: 4px;
      input {
        color: #70848E;
      }
    }

    .profit .grayed-out .v-text-field__slot input {
      color: #40A46E;
    }

    .cost .grayed-out .v-text-field__slot input {
      color: #C0646E;
    }

  }

  #container-menu .v-list-item {
    min-height: 30px;
  }
</style>
