// $color-pack = false

// @import '~vuetify/src/stylus/main'

html {
  overflow-y: auto
}

// App.Vue
#auctions {
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  // text-align center
  color #2c3e50

  .app-toolbar {
    border-bottom: 1px solid lightgray !important
  }

  // .v-navigation-drawer {
  //   margin-top: 64px !important
  // }

  .container {
    padding: 0
    margin: 0
  }

  .v-btn--bottom:not(.v-btn--absolute) {
    z-index: 99;
  }

  #pnlCheckingToken {
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 1.2em;
    padding-top: 25vh;
    height: 25vh;

    .horizontal-3d-spin {
        -webkit-animation-name: spinner;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 2s;
        animation-name: spinner;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    #pnlCheckingTokenIcon {
      position: fixed;
      left: 50%;
    }

    #pnlCheckingTokenText {
      font-size: 2em;
      position: fixed;
    }

    i.horizontal-3d-spin {
      position: relative;
      top: 3em;
      color: #CC4444;
      z-index: 2;
    }

    i.fa-user {
      z-index: 1;
      position: relative;
      right: 0.5em;
      color: #225599;
    }

  }

  // animations
  @-ms-keyframes spin {
      from { -ms-transform: rotate(0deg); }
      to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

  @-webkit-keyframes spinner {
    from {
      -webkit-transform: rotateY(0deg);
    } to {
      -webkit-transform: rotateY(-360deg);
    }
  }

  @keyframes spinner {
      from {
          -moz-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          transform: rotateY(0deg);
      }
      to
      {
          -moz-transform: rotateY(-360deg);
          -ms-transform: rotateY(-360deg);
          transform: rotateY(-360deg);

      }
  }
}